name: every_door
description: Next generation OpenStreetMap amenity mapper

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# Also update version in constants.dart!
version: 5.4.0+50

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: "^3.24.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  adaptive_dialog: ^2.1.0
  cached_network_image: ^3.2.1
  country_coder: ^1.2.0
  device_info_plus: ^10.1.2
  diacritic: ^0.1.3
  encrypt: ^5.0.1
  flutter_cache_manager: ^3.3.0
  flutter_dropdown_alert: ^1.0.3
  flutter_map: ^7.0.0
  flutter_markdown: ^0.7.1
  flutter_portal: ^1.1.4
  flutter_riverpod: ^2.5.1
  flutter_secure_storage: ^9.2.2
  geolocator: ^13.0.1
  http: ^1.1.0
  intl: ^0.19.0
  latlong2: ^0.9.0
  line_icons: ^2.0.1
  logging: ^1.0.2
  mobile_scanner: ^5.2.3  # 6.0.0 requires iOS 15+, unacceptable!
  oauth2_client: ^3.3.0
  path: ^1.8.1
  path_drawing: ^1.0.0
  path_provider: ^2.0.9
  phone_numbers_parser: ^4.2.0  # Later versions do not allow free-form countries.
  proximity_hash: ^2.1.0
  responsive_grid_list: ^1.2.3
  sensors_plus: ^6.0.1
  settings_ui: ^2.0.2
  share_plus: ^10.0.2
  shared_preferences: ^2.1.1
  sqflite: ^2.0.0+3
  unorm_dart: ^0.3.0
  url_launcher: ^6.1.14
  uuid: ^4.3.3
  xml: ^6.3.0
  app_links: ^6.3.2
  flutter_compass: '^0.8.1'

dependency_overrides:
  flutter_dropdown_alert:
    git:
      url: https://github.com/Zverik/flutter_dropdown_alert.git
      ref: master
  proximity_hash:
    git:
      url: https://github.com/Zverik/proximity_hash.git
      ref: master
# Uncomment this for publishing on F-Droid
#f  geolocator_android:
#f    git:
#f      url: https://github.com/Zverik/flutter-geolocator.git
#f      ref: floss
#f      path: geolocator_android

dev_dependencies:
  test: ^1.24.1
  flutter_lints: ^4.0.0
  flutter_launcher_icons: ^0.13.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/presets.db
    - assets/lets-encrypt-r3.pem
    - assets/christmas-tree.png
    - assets/roofs/

flutter_launcher_icons:
  android: "ic_launcher"
  ios: true
  image_path: "icon/app_icon.png"
