name: every_door
description: Next generation OpenStreetMap amenity mapper

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# Also update version in constants.dart!
version: 7.1.1+61

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: "^3.29.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  adaptive_dialog: ^2.4.2
  app_links: ^6.3.2
  cached_network_image: ^3.2.1
  country_coder: ^1.2.0
  crypto: ^3.0.6
  dart_eval: ^0.8.2
  diacritic: ^0.1.3
  encrypt: ^5.0.1
  eval_annotation: ^0.8.1
  flutter_archive: ^6.0.3
  flutter_cache_manager: ^3.4.1
  flutter_compass_v2: ^1.0.3
  flutter_dropdown_alert: ^1.0.3
  flutter_eval: ^0.8.1
  flutter_map: ^8.2.0
  flutter_map_geojson2: ^1.0.0
  flutter_map_mbtiles: ^1.0.4
  flutter_map_tile_caching: ^11.0.0-dev.2
  flutter_portal: ^1.1.4
  flutter_riverpod: ^2.5.1
  flutter_secure_storage: ^10.0.0-beta.4
  geolocator: ^14.0.1
  http: ^1.1.0
  intl: ^0.20.2
  jovial_svg: ^1.1.26
  latlong2: ^0.9.0
  line_icons: ^2.0.1
  listen_sharing_intent: ^1.9.1
  logging: ^1.0.2
  markdown_widget: ^2.3.2+8
  material_color_names: ^1.0.0
  mbtiles: ^0.4.2
  oauth2_client: ^4.2.0
  path: ^1.8.1
  path_drawing: ^1.0.0
  path_provider: ^2.0.9
  phone_numbers_parser: ^9.0.3
  proximity_hash: ^2.2.0
  qr_code_scanner_plus: ^2.0.10+1
  responsive_grid_list: ^1.2.3
  sensors_plus: ^6.1.0
  settings_ui: ^2.0.2
  share_plus: ^11.0.0
  shared_preferences: ^2.1.1
  sqflite: ^2.4.2
  sqlite3_flutter_libs: 0.5.33
  trie_search: ^1.0.0
  unorm_dart: ^0.3.1+1
  url_launcher: ^6.1.14
  uuid: ^4.3.3
  vector_map_tiles: ^9.0.0-beta.8
  vector_tile_renderer: ^6.0.0
  vector_map_tiles_mbtiles:
    git:
      url: https://github.com/josxha/flutter_map_plugins.git
      path: vector_map_tiles_mbtiles
  # vector_map_tiles_pmtiles: ^1.5.0
  xml: ^6.3.0
  yaml: ^3.1.3

dependency_overrides:
  flutter_dropdown_alert:
    git:
      url: https://github.com/Zverik/flutter_dropdown_alert.git
      ref: master
# Uncomment this for publishing on F-Droid
#f  geolocator_android:
#f    git:
#f      url: https://github.com/Zverik/flutter-geolocator.git
#f      ref: floss
#f      path: geolocator_android

dev_dependencies:
  build_runner: ^2.5.4
  commit_info: ^0.2.1
  test: ^1.25.8
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/presets.db
    - assets/lets-encrypt-r3.pem
    - assets/roofs/
    - assets/styles/

flutter_launcher_icons:
  android: "ic_launcher"
  ios: true
  image_path: "icon/app_icon.png"
