const kOsmEndpoint = 'api.openstreetmap.org';
const kOauthClient = '';
const kOauthSecret = '';
const kBingMapsKey = '';

// Sandbox
// const kOsmEndpoint = 'master.apis.dev.openstreetmap.org';
// const kOauthClient = '';
// const kOauthSecret = '';
